/* Main Settings */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: #e3edde;
    scroll-behavior: smooth;
    max-width: 2000px; /* Prevents overstretching on big screens */
    margin: 0 auto;    /* Centers the container horizontally */
}

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
}

p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
}

a {
    font-weight: 500;
    font-size: 16px;
}

h1 {
    font-size: 68px;
    text-align: center;
    color: #1A1A1A;
}



/* navigation bar */
.nav-container nav {
    display: flex;
    background-color: #F4F6F3;
    color: #1A1A1A;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    align-content: center;
    position: fixed;
    width: 100%;
    top: 0;
}

nav .logo {
    margin-left: 50px;
    width: 70px;
    border-radius: 50%;
    border: 2px green solid;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li a {
    color: #1A1A1A;
    padding: 10px;
}

nav ul li a:hover {
    background-color: lightgreen;
    border-bottom: 2px #1A1A1A solid;
}

nav .cta {
    margin-right: 50px;
    padding: 10px;
    color: #1A1A1A;
    border: rgb(154, 138, 37) 2px solid;
    border-radius: 8px;
    background-color: #C2A878;
}

nav .cta:hover {
    color: #ffffff;
    border-radius: 8px;
    background-color: green;
}

/* Index html */
/* hero-section */
/* 1st section */
.hero-container {
    background-image: url("../images/realbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
    margin-top: 100px;
    align-content: center;
}

.hero-container h1 {
    color: whitesmoke;
    text-shadow: 2px 2px 4px #1A1A1A;
}

.hero-container p {
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 4px #1A1A1A;
}

.cta-container {
    text-align: center;
    margin-top: 50px;
}

.hero-container .cta {
    margin-right: 50px;
    padding: 10px;
    color: #1A1A1A;
    border: rgb(154, 138, 37) 2px solid;
    border-radius: 8px;
    background-color: #C2A878;
}

.hero-container .cta:hover {
    color: #181616;
    border-radius: 8px;
    background-color: #6f5525;
}

.hero-container .cta-2 {
    margin-right: 50px;
    padding: 10px;
    color: white;
    border: rgb(154, 138, 37) 2px solid;
    border-radius: 8px;
    background-color: green;
}

.hero-container .cta-2:hover {
    color: #2a2727;
    border-radius: 8px;
    background-color: forestgreen;
}

/* 2nd section (mission)*/
.mission {
    text-align: center;
    margin: 80px;
}

.mission h2 {
    font-size: 42px;
    color: #2a2727;
    margin-bottom: 30px;
}

.mission .learn-more,
.mission a {
    color: green;
    margin-top: 30px;
}

.mission a:hover {
    color: darkgreen;
    text-shadow: 0px 2px 4px #1A1A1A;
}

/* End of Index html */

/* Services html */
/* section 1 */
#services {
    margin-bottom: 50px;
    margin-top: 80px;
    color: white;
    height: 450px;
}

#services .text {
    background-color: green;
    align-content: center;
}

#services .text h2 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    text-shadow: #1A1A1A 2px 2px 2px;
}

#services .text p {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

#services li {
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #C2A878;
}

#services li a {
    font-size: 18px;
    color: #1A1A1A;
}

.offers ul {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

#services li a:hover {
    color: #04618c;
    font-style: italic;
}


/* more details about services offered */
.more-details {
    padding: 0 50px;
    margin-bottom: 100px;
}

.more-details h3 {
    font-weight: 550;
    font-size: 36px;
}

.pruning-heading,
.care-heading,
.harvesting-heading {
    text-align: center;
}

.planting,
.pruning,
.lectures,
.care,
.selection,
.harvesting {
    margin-bottom: 30px;
    padding: 5px;
}

.more-details .planting,
.more-details .pruning,
.more-details .lectures,
.more-details .care,
.more-details .selection,
.more-details .harvesting {
    display: flex;
    padding: 0 50px;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
    scroll-margin-top: 140px;
}

.more-details img {
    border-radius: 8px;
    aspect-ratio: 1/1;
    width: 200px;
}

/* End of services html */

/* About html */
.about .intro-text-container {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: green;
    height: 300px;
    align-content: center;
    color: whitesmoke;
}

.about .intro-text-container h2 {
    font-size: 42px;
    color: whitesmoke;
    margin-bottom: 30px;
    text-shadow: #1A1A1A 2px 2px 2px;
}

.story {
    text-align: center;
    margin: 80px;
}

.story h2 {
    font-size: 42px;
    color: #2a2727;
    margin-bottom: 30px;
}

/* team section */
.team-section {
    padding: 0 50px;
    margin-bottom: 100px;
    scroll-margin-top: 100px;
}

.team-section h2 {
    font-size: 42px;
    color: #2a2727;
    margin-bottom: 30px;
    text-align: center;
}

.team-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.team-section .group .personal-details {
    text-align: center;
    flex: 2;
}

.team-section .group .text {
    flex: 8;
}

.team-section .group .personal-details img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid 4px darkgreen;
}

.team-section .group .personal-details p {
    font-weight: 600;
}

.team-section .group .personal-details p:last-child {
    font-weight: normal;
    font-style: italic;
}

/* End of About Section */

/* Contact html */
/* Contact section */
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
    margin-top: 80px;
}

.contact-section h2 {
    text-align: center;
    font-size: 42px;
    height: 180px;
    background-color: green;
    color: white;
    text-shadow: #181616 2px 2px 2px;
    align-content: center;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
    margin-top: 10px;
}

.contact-section .group form {
    flex: 3;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'Inter', sans-serif;
    border: 2px solid green;
    background-color: #e0facf;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    border: none;
    color: rgb(26, 32, 26);
    background-color: #68a371;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.contact-section .group form button:hover {
    background-color: #012e14;
    color: #87b88e;
    font-size: 20px;
}

/* footer */
footer {
    background-color: rgb(3, 97, 3);
    color: white;
    margin-bottom: 0;
}

footer a {
    color: whitesmoke;
}

footer a:hover {
    border-bottom: white 2px solid;
    border-radius: 5px;
}

.footer .upper-section {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

footer .upper-section .description {
    width: 400px;
}

.contact-info .icons ul {
    display: flex;
    justify-content: space-between;
}

.contact-info .icons ul li a {
    font-size: 30px;
    margin-bottom: 20px;
}

.footer .upper-section h4 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px #1A1A1A;
}

.footer .upper-section p {
    font-size: 18px;
}

.footer .small-text {
    text-align: center;
    margin: 10px;
}

.footer .small-text p {
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 1200px) {

    /* Navigation Bar */
    .nav-container,
    nav {
        height: 80px;
    }

    nav .logo {
        margin-left: 30px;
        width: 60px;
        border-radius: 50%;
        border: 2px green solid;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    nav ul li a {
        padding: 3px;
    }

    /* Index html */
    .hero-container {
        height: 90vh;
        margin-top: 20px;
    }

    .hero-container h1 {
        font-size: 44px;
    }

    .hero-container p {
        font-size: 20px;
    }

    .mission h2 {
        font-size: 24px;
    }

    .mission p {
        font-size: 20px;
    }

    /* Footer */
    footer .upper-section .description {
        width: 300px;
    }

    .footer .upper-section p {
        font-size: 15px;
    }

    .footer .links a {
        font-size: 15px;
    }
}

@media (max-width: 830px) {

    /* Navigation Bar */
    .nav-container,
    nav {
        height: 80px;
    }

    /* Index html */
    .hero-container p {
        font-size: 16px;
    }

    .mission h2 {
        font-size: 24px;
    }

    .mission p {
        font-size: 16px;
    }

    /* Footer */
    .footer .upper-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .footer .upper-section p {
        color: white;
    }

    .footer .description {
        text-align: center;
        align-items: center;
    }

    .footer h4 {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .nav-container .hide {
        display: none;
    }

    .nav-container .logo {
        margin-left: 20px;
    }

    .nav-container ul {
        gap: 12px;
        padding: 0;
    }

    nav .cta {
    margin-right: 20px;
    padding: 10px;
}

    .mission {
        margin: 20px;
    }
}